<p>All times in AEST</p>
<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - 14th September 2022</h3>
    <table class="table table-striped">
      <tr>
        <td>14:30</td>
        <td><a href="{{page.root}}{% link _episodes/01_setup.md %}">Setup</a></td>
      </tr>
      <tr>
        <td>14:45</td>
        <td><a href="{{page.root}}{% link _episodes/02_WhatIsHPC.md %}">What is HPC?</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Afternoon break</td>
      </tr>

      <tr>
        <td>15:45</td>
        <td><a href="{{page.root}}{% link _episodes/03_WorkingOnAnHPC.md %}">Working on an HPC</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2 - 15th September 2022</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td><a href="{{page.root}}{% link _episodes/04_ParallelComputing.md %}">Parallel Computing Concepts</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td><a href="{{page.root}}{% link _episodes/05_AccessingHPCResources.md %}">How to get time on an HPC</a></td>
      </tr>
      <tr>
        <td>16:45</td>
        <td><a href="{{page.root}}{% link _episodes/06_WrapUp.md %}">Wrap up and survey</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - TBD January 2022</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td><a href="{{page.root}}{% link _episodes/04_ParallelComputing.md %}">Parallel Computing Concepts</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td><a href="{{page.root}}{% link _episodes/05_AccessingHPCResources.md %}">How to get time on an HPC</a></td>
      </tr>
      <tr>
        <td>16:45</td>
        <td><a href="{{page.root}}{% link _episodes/06_WrapUp.md %}">Wrap up and survey</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>